* {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template:
    "header header header" 50px
    "left-menu main-menu right-menu" 1fr /
    1fr 1fr 1fr;
}

.header {
  grid-area: header;
  background-color: #ffcc0070;
}

.left-menu {
  grid-area: left-menu;
  background-color: #ff000070;
}

.main-menu {
  grid-area: main-menu;
  background-color: #00ff0070;
}

.right-menu {
  grid-area: right-menu;
  background-color: #ff00ff70;
}